@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Black.ttf");
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Thin.ttf");
    font-weight: 100;
}

* {
    box-sizing: border-box;
}

body {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: space-between;  
    min-height: 100vh;
    margin: 0; 
    padding: 0;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    
    min-height: 50px;
    font-family: 'Roboto-Black', sans-serif;
    font-size: 18px;
    padding: 0 20px;
    }
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; 
    margin: 0;
}
.nav-link {
    padding: 0 30px;
    line-height: 50px;
    transition: .3s;
    
}
.nav-item  a{
    color: rgb(230, 230, 211);
    text-decoration: none;
    transition: color 0.5s;
}
.nav-item a:hover {
    color: rgb(179,179,0);
}

html {
    scroll-behavior: smooth;
}

.column-left {
    background-color:  rgb(67, 67, 65);
    color: rgb(250,255,251);
    width: 35%;
    padding: 40px;
    
}
.column-right {
    width: 60%;
    padding: 30px;
}
.right-border {
    width: 5%;
    background-color:  rgb(67, 67, 65);


}
@media (max-width: 768px) {
    .section {
        width: 100%;

    }
}




.img {
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   margin-right: 0px;
   border: 7px solid rgb(179,179,0);   
   border-radius: 50%;
   position: relative;
   top: -10px;
   left: -130px;
   
}
.row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px 10px;
    width: 100%;
    color: rgb(230, 230, 211);
    background-color: rgb(83, 83, 82);
    font-family: 'Roboto-black';
    
}

.section-about {
    background-color: rgb(83, 83, 82);
    color: rgb(230, 230, 211);
    position: relative;
    font-size: 24px;
    right: 70px;
    width: 40%;
} 
.section-profile-titles {
    width: 30%;
    position: relative;
    left: -200px;
    top: 30px;
}

.container.footer-container {
    width: 1400px;
    background-color: rgb(83, 83, 82);
    padding: 15px;
}
.container.header-container{
    width: 1400px;
    margin: 0 auto;
    background-color: rgb(83, 83, 82);
   
}
.left {
    width: 100%;
    height: 35%;
}
.right {
    width: 80%;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}
.author {
    color: rgb(250,255,251);
    position: relative; 
    top: 10px;
    left: 20px;
}
.rss {
    position: relative;
    right: -1280px;
}
a {
    text-decoration: none;
    color: rgb(250,255,251);
    background-color: rgb(83, 83, 82);
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    
}
h1 {
    margin: 0;
    position: relative;
    left: -130px;
}
h3 {
    position: relative;
    left: -130px;
    bottom: 20px;
}
.code {
    display: flex;
    justify-content: right;
    margin: 0 auto;
    position: relative;
    top: -25px;

}
.code-heading {
    margin: 0;
}
pre {
    margin: 0;
}